<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.littlelarri">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:glEsVersion="0x00030000"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera.ar" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.LittleLarri"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".MusicService"
            android:exported="false" />
        <!-- TODO: add icons with different resolutions, mipmaps are needed -->
        <!-- Defines default design of message -->
        <meta-data
            android:name="com.google.ar.core"
            android:value="required" />

        <activity
            android:name=".activities.FriendRequestsActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <!-- Defines default design of message -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/app_icon" />
        <meta-data
            android:name="com.google.firebase.default_notification_color"
            android:value="@color/purple_200" /> <!-- Firebase Cloud Messaging -->
        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".activities.TradingActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ShowResourcesActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.SearchActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".QR_Scanner"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.QRcodeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.LarryPageActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.LeaderboardActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MapActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.InventoryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.OSMActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.WelcomeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.RegisterAcitivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.TradingDialogActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Dialog"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>